<ul class="ul-li-be-n" style="z-index:2">
	<li class="li-be-n">Obtén acceso ilimitado a vídeos de capacitaciones dictados por profesionales del sector.</li>
	<li class="li-be-n">Accede y/o descarga revistas especializadas en arquitectura, construcción y minería.</li>
	<li class="li-be-n">Decenas de artículos técnicos especializados en nuestra biblioteca.</li>
	<li class="li-be-n">Descuentos en seminarios, talleres y cursos organizados por nosotros.</li>
	<li class="li-be-n">Interacción con otros usuarios.</li>
	<li class="li-be l-b-c">Beneficios Construcción. <i class="fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>
	<div class="b-plan b-construccion d-none">Suplemento Técnico de Costos y presupuestos para obra</div>
	</li>
	<li class="li-be l-b-a">Beneficios de Arquitectura y Diseño. <i class=" fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>
	<div class="b-plan b-arquitectura d-none">Series de Arquitectura y Diseño</div>
	</li>
	<li class="li-be l-b-m">Beneficios de Minería. <i class="fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>

	<div class="b-plan b-mineria d-none">Cursos en vivo, Videos de Capacitación</div>
	</li>

</ul>

//anual 

<ul class="ul-li-be-n" style="z-index:2">
	<li class="li-be-n">Obtén acceso ilimitado a vídeos de capacitaciones dictados por profesionales del sector.</li>
	<li class="li-be-n">Accede y/o descarga revistas especializadas en arquitectura, construcción y minería.</li>
	<li class="li-be-n">Decenas de artículos técnicos especializados en nuestra biblioteca.</li>
	<li class="li-be-n">Descuentos en seminarios, talleres y cursos organizados por nosotros.</li>
	<li class="li-be-n">Interacción con otros usuarios.</li>
	<li class="li-be l-b-c-a">Beneficios Construcción. <i class=" fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>
	<div class="b-plan b-construccion-a d-none">Suplemento Técnico de Costos y presupuestos para obra</div>
	</li>
	<li class="li-be l-b-a-a">Beneficios de Arquitectura y Diseño. <i class=" fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>
	<div class="b-plan b-arquitectura-a d-none">Series de Arquitectura y Diseño</div>
	</li>
	<li class="li-be l-b-m-a">Beneficios de Minería. <i class=" fas fa-angle-down c-green font-weight none-desktop-in" style="font-size: 20px"></i>

	<div class="b-plan b-mineria-a d-none">Cursos en vivo, Videos de Capacitación</div>
	</li>

</ul>