*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
.modal-lg{
	width: 1100px;
}
.tit-btn{
	display: flex;
}
.tit-btn h3{
	margin-left: 20px;
}
.panel-body .menu{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.panel-footer a{
	padding: 0 10px 0 10px;
	font-size: 30px;
}
.menu .item-menu{
	width: 20%;
	background: #D8D8D8;
	border-radius: 4px;
	text-align: center;
	margin: 0 40px 40px 0;

}
.menu .item-menu .tit{
	color: #0B96B4;
	height: 100px;
}
.menu .item-menu .tit i{
	font-size: 50px;
}

.menu .item-menu .btn a{
	 color: #fff;
	text-decoration: none;
	background: #0B96B4;
	text-align: center;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 4px;

}

.footer{
	width: 100%;
	display: flex;
	justify-content: center;

}


.btn-upload{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.form-group .oculto{
	display: none;
}
/*Estilos para chexbox*/
.checkbox input[type="checkbox"]{
	display: none;
}
.checkbox label{
	color: #28B463;
	padding: 5px 15px 5px 51px;
	margin: 4px 0;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.checkbox label:hover{
	background: rgba(40, 180, 99, .3);
}
.checkbox label:before{
	content: '';
	width: 17px;
	height: 17px;
	display: inline-block;
	background: none;
	border: 3px solid #28B463;
	position: absolute;
	left: 17px;
	top: 4px;
	border-radius: 3px;

}
.checkbox input[type="checkbox"]:checked + label{
	padding: 5px 15px;
	background: #28B463;
	border-radius: 3px;
	color: #fff;
}
.checkbox input[type="checkbox"]:checked + label:before{
	display: none;
}

/*Stilo para landing page*/
.reg_visitante{
	left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed;
    
}
.modal-content {
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}
.land-content{
	 background: url(../images/bg2.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: scroll;
	
}
.btn-close{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 50px;
	top: 40px;
}
.btn-close a{
	text-decoration: none;
	font-size: 60px;
	color: #fff;
}
.btn-close a:hover{
	text-decoration: none;
	color: #d8d8d8;
}
.box-landing{
	width: 50%;
	background: #D8D8D8;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
}
.box-landing .img-horizonatl{
	width: 100%;
}
.img-horizonatl img{
	width: 100%;
	border-radius: 25px;
}
.box-landing .col-01{
	width: 40%;
	padding: 20px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}
.help-block{
	color: #ff0000;
}
.col-01 .img-log{
	width: 100%;
}
.col-01 .img-log img{
	width: 100%;
}
.col-01 .info-prev{
	text-align: center;
	margin-top: 20px;
}
.col-01 .info-prev strong{
	font-size: 18px;
}
.box-landing .col-02{
	width: 59%;
	padding: 20px;
}
.meta-app{
	position: fixed;
	background-color: #fff;
	bottom: 0;
	right: 0;
	width: 400px;
	padding: 10px;
	font-size: 10px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: -22px -21px 22px -21px rgba(62,161,214,1);
}
@media (max-width: 900px){
	.modal-lg{
		width: auto;
	}
  
  .Zebra_Pagination{
    display: flex;
    justify-content: center;
    width: 100%;
 

  }
 .Zebra_Pagination ul{
    width: 100%;

 }
 .menu .item-menu{
 	width: 40%;
 }
 .panel-login{
 	width: 100%;
 }
 .row .box-login{
 	width: 100%;
 }
 .box-landing{
 	width: 80%;
 	
 }


}

@media (max-width: 500px){
	.menu .item-menu{
		width: 100%;
		margin: 0 0 40px 0;
	}
	.box-landing{
		width: 100%;
		flex-wrap: wrap;
		
	}
	.box-landing .col-01{
		width: 100%;
		justify-content: center;
	}
	.col-01 .img-log{
		/*width: 50%;*/
		display: none;
	}
	.col-01 .info-prev{
		margin-top: 0px;
	}
	.box-landing .col-02{
		width: 100%;
	}
	.btn-close{

		width: 30px;
		height: 30px;
		right: 20px;
		top: 0;
	}
	/*.btn-close a{
		color: #ff0000;
	}*/
	.btn-close a:hover{
		color: #900000;
	}
	
}
.precio_plan{
	width: 130%;
    margin-left: -30%;
    padding:1% 10%;
}
@media (max-width: 991px){
	.precio_plan{
	width: 100%;
    margin-left: 0%;
    padding:1%;
}
	}


.textarea_encuesta{

	padding: 0;
	margin:0;
	}

.textarea_encuesta textarea{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 1;
	max-height: 100px;
	border: 1px solid #56be8e;
}

.encuesta_table{
	font-size: 16px;
}
.encuesta_table thead{
background: #00be72;
color: white;
}

.encuesta_table thead tr th{
border:none;
border:solid .5px white;
text-align: center;
vertical-align: middle;
}

.escala{
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.encuesta_table tbody {
	background: white;
}
.encuesta_table tbody tr th, .encuesta_table tbody tr td{
	text-align: center;
	vertical-align: middle;
	border:none;
	border:solid .5px #dcdede;
}

.encuesta_table input[type="radio"] {
  appearance: none;
  margin: 3%;
  width: 20px;
  height: 20px;
  background: #eeeeee;
  box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.15em;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  color: #363945;
}
.encuesta_table input[type="radio"]:hover, input[type="radio"]:checked {
  background: #363945;
  box-shadow: inset 0 0 0 0.6em white, 0 0 0 0.15em;
}
.encuesta_table input[type="radio"]:checked {
  background: #56be8e;
  box-shadow: inset 0 0 0 0.4em white, 0 0 0 0.15em #56be8e;
}
.encuesta_table input[type="radio"]:focus {
  outline: 0;
}
.btn_encuesta
{
	
	width: 60%;
	color:#363945;
	border:solid 2px #363945;
	font-weight: 700;
	background: white;
	cursor: pointer;
	padding: 1%;


}
.btn_encuesta:hover
{
	
	width: 60%;
	color:#56be8e;
	border:solid 2px #56be8e;
	font-weight: 700;
	background: white;
	cursor: pointer;
	padding: 1%;


}